body{background-color:#F4E2C1;}
h1 {color: orange; font-family: Georgia; font size: 40px;}
p{color: #black; font-family: Georgia; font-size: 14px ;}
a {color: #E4500D; font-family: Georgia; font-size: 14px; text-decoration: none;}
img{border-style: solid; border-width: 3px; border-color: orange;}
